<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
</head>
<body>
	
</body>
<script type="text/javascript">
	var ss = `
	MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCmgEvdP2Kti2tI
NJtSI9A0GpfdxZl0KAEkvTYIUrPpyVSqnShBadCnLRyVE6j/sEiaeNmPD7R7vEos
4r4K4VxfRU7QQGUKFIARF80YvIQfP9UMK9b86s4y6Yc4SFkwE+u/Jok/fMLH9XdB
86ykeuctirTRL+4vFahrL29VshhQilj31AC6wozY7SnSs2IZnOJdBDpNtEnNzYz0
CbQfjdYgPd3tNhL4xA5nMjJ8sy2uqfpPx3AzCxtYYb+Ih8KxVk/U1UH4ei3Hf2lZ
rVuY79qQ5wpbVgNPKh8zpwsSVHNrfLyJm2YZ0MXtgaTywmKFJfZf0q0NAOjGKgV2
OXhLpvlRAgMBAAECggEAGYkFmYn2FU2Th4Bh7cgGT2dgsSdz8GeOPVczaTVd2FYD
QSNXICkdUfZOMuLQAV7E08QDAbjT4kIvUhD4OmzzoLzdaHznwhMAzR5MWyXWUYCV
qQc0MpfERfSgw1X9L61uc2NymyUELmyL/LZlXNhoigiC0K48JkZ5DO86cPceWYOO
lTWsDFyhAuBRMzUTJPCB/uuWMABwu2fuZs8ZI50EsjyRzhHIMcD8bEDwlbuKJyZ1
59wGfSyrI7v+ibczL0tsHNScZnsZLE0oYQuH2LL+1JWaRaNpF0zbxoQLElig+avB
jFjJXnZ76/U2O/IiCWvxSZF+DK9Qn2OV1N5iXRCm7QKBgQDk7Vtw1w6nvnLBcUFw
Ksuo7mxipLrSCDlx6u7gTSfbDBPgzOcNJUha1dwCNAXtYrRz3eh31Kxt1kdkELnq
NVEtjycgiDAF7N8nazF0uz04oq2IW7nWcKpG8H39UZ0pXf741a9gDUt1ucBliZRz
pX6sXI0YxTjiG5e+P/jxXhi+jwKBgQC6MQa0Qok/nH6iQsWoBK3zLK/orz/mQ9eo
P5kcCXXxUTWGknNjKQ7jfxC8WjJv7wdNSCCSgjPHMoFnA2mSh+yymtVzWR/o2zQR
lYtw/AllTAUelSCteZ0VIFjsLFw5t/62yW+IcxEvb7VFmJhsjfInNSXaa6jRPNDA
Lu/H6oy6HwKBgG+zyYxzwzjiWsg85PtARoO1Yrl3O5lEXhNR2SElRK9DY2erU4o8
iOOZunJww/uiz/5BZy8hXMlzZv5SkwTO4z9hvGvJR/V8MR7g1Q7qVeMOrbH9X95c
txlKO4+hhRgsPz9XtO0fT5SwAEsLKJ6NQBQGTOqrQShC4nX4bRYJHfXNAoGABZI7
+h7XjoC3RVGsKmfhcJpQtSyxQ8mZ5V3pze32in78lAdDzp7G5EXEEW69fZ3wYP6c
guXEeNxpBNUUTp8klP+PDYGIM+aDO1d3Ma1I9q/8ozqhHK+75IrwPjjhlZSM2ZlT
bgjLZdj42plDTlQ8/7FWbZ+1EHW6ZVXCNQAur88CgYBDjnmd99gqk9R7ggaPAY8Z
DtkHta8jtkGfNUS+mpKZ+IhLnAfLgeQ+KOXebELU1sGtcHnTjzC5SGaiSXnptOqf
NjG2fDkc7f4F0Mfw+1nnxxn/mQ7AhHOK4NiBoz2EmwNiOgGvLoBBOECvH6HRWsnf
SkaodlMLS7tLMKzxh2f64Q==`;
console.log(ss.replace(/\s/g,""));
</script>
</html>