<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>请描述原生js里bind函数的作用，什么场景需要用到它，并手写Function.bind函数</title>
	</head>

	<body>
		<p>请描述原生js里bind函数的作用，什么场景需要用到它，并手写Function.bind函数</p>
		<p>主要作用是改变函数中的this指向</p>
	</body>
	<script type="text/javascript">
		window.onload = function() {
			Function.prototype.bind = function(context) {
				var args = Array.prototype.slice.call(arguments,1);//取出this
				var self = this;
				var DIEW = function() {};
				var bound = function() {
					var innerArgs = Array.prototype.slice.call(arguments);
					var finalArgs = args.concat(innerArgs);
					return self.apply((this instanceof self ? this : context), finalArgs);
				};
				DIEW.prototype = self.prototype;
				bound.prototype = new DIEW();
				return bound;
			};

			function ss() {
				this.state = {
					name: "12"
				};
			};
			function bb() {
				console.log(this);//ss
			};
			bb.bind(ss)();
		};
	</script>

</html>