<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>程序输出题，请写出运行结果及思路</title>
	</head>

	<body>
		<p>程序输出题，请写出运行结果及思路</p>
	</body>
	<script type="text/javascript">
		window.onload = function() {
			console.log(getName);//5
			function Foo(){
				//一旦Foo()执行，getName 就被暴露成为全局变量(window.getName)
				getName = function(){
//					console.log(this);//window
					alert(1);
				};
				return this;
			};
		
			Foo.getName = function(){alert(2)}; //Foo 自身的方法（constructor）
			Foo.prototype.getName = function(){alert(3)};//Foo 原型链prototype的方法，使用前必须先 new 一下
			var getName = function (){alert(4);};//已经声明，不会提升
			function getName (){alert(5)};//未声明变量，提升到最前面
			
			//请写出以下输出的结果
			Foo.getName();// 2
			getName();// 4
		
			try{
				//Foo()执行的时候，constructor 中的方法已经被暴露到全局了
				Foo().getName();//TypeError getName is not a function
			}catch(e){
				//handle the exception
				console.log(e);
			}
//			Foo().getName();//3 is not a function
			getName();//1
			new Foo.getName();//  2
			new Foo().getName();// 3
			new new Foo().getName();//3 
		};
	</script>

</html>