<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<form action="/YOP-payment/paymentServlet" method="post" target="_blank">
			<table align="center" style="border:solid 1px #107929; margin-top: 40px;">
				<tr>
					<th align="center" height="30" colspan="5" bgcolor="#6BBE18">
						企付通-代付代发出款接口
					</th>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;批次号</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="batchNo" value=<%=batchNo %> placeholder="十五位字符串" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">batchNo</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;订单号</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="orderId" value="" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">orderId</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;出款金额</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="amount" value="0.01" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">amount</td>
				</tr>

				<tr>
					<td width="10%" align="left">&nbsp;产品类型</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="product" />
						<td width="5%" align="center"> - </td>
						<td width="15%" align="left">product</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;是否加急</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="urgency" value="" />

					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">urgency</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;收款账户名称</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="accountName" value="张三" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">accountName</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;卡号</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="accountNumber" value="6215590000009898980" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">accountNumber</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;银行编号</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="bankCode" value="ICBC" />
						<span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">bankCode</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;银行名称</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="bankName" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">bankName</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;支行名称</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="bankBranchName" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">bankBranchName</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;省编码</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="provinceCode" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">provinceCode</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;城市编码</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="cityCode" value="" />

					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">cityCode</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;手续费收取方式</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<select name="feeType">
							<option value="TARGET">TARGET</option>
							<option value="SOURCE" selected="selected">SOURCE</option>
						</select><span style="color:#FF0000;font-weight:100;">*</span>
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">feeType</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;描述</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="desc" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">desc</td>
				</tr>
				<tr>
					<td width="10%" align="left">&nbsp;留言</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="leaveWord" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">leaveWord</td>
				</tr>

				<tr>
					<td width="10%" align="left">&nbsp;摘要</td>
					<td width="5%" align="center"> : &nbsp;</td>
					<td width="55%" align="left">
						<input size="70" type="text" name="abstractInfo" value="" />
					</td>
					<td width="5%" align="center"> - </td>
					<td width="15%" align="left">abstractInfo</td>
				</tr>

				<tr>
					<td width="10%" align="left">&nbsp;</td>
					<td width="5%" align="center">&nbsp;</td>
					<td width="55%" align="left">
						<input type="submit" value="提交订单" />
					</td>
					<td width="5%" align="center">&nbsp;</td>
					<td width="15%" align="left">&nbsp;</td>
				</tr>
			</table>
		</form>
	</body>

</html>