<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>编写getQueryObject()的函数。返回URL中查询字符串对象；例如：abc.com?a=1&bb=22&ccc=333,返回{a:1,bb:22,ccc:333}(使用正则实现)</title>
		<style>

		</style>
	</head>

	<body>

	</body>
	<script type="text/javascript">
		window.onload = function() {
			//exec() 方法用于检索字符串中的正则表达式的匹配。
			var queryParse = function(searchUrl) {
				var query = searchUrl.replace(/.*\?/i, "");
				var reg = /([^=&]*)(=)([^=&]*)/g;
				var obj = {};
				while(reg.exec(query)) {
					obj[RegExp.$1] = RegExp.$3;
				}
				return obj;
			}
			var uri = 'abc.com?a=1&bb=22&ccc=333';
			console.info(queryParse(uri));
		};
	</script>

</html>